.sidebar nav ul li  {
    padding: 8px 15px !important;
    border-radius: 10px !important;
    transition: background-color 0.3s, color 0.3s;
    color: #9197B3;
}


.sidebar nav ul li:hover {
    background-color: #067E83;
    color: #FFFFFF;
}
.sidebar nav ul li.active{
    background-color: #067E83;
    color: #FFFFFF ;
    font-weight: 500;
    border-radius: 10px !important;
}

/* Specific hover effects for icons */
#bin-icon:hover {
    content: url('../../../public/sidebar_icons/binW.svg');
}

#employee-icon:hover {
    content: url('../../../public/sidebar_icons/employeesW.svg');
}

#monitor-icon:hover {
    content: url('../../../public/sidebar_icons/dashboardW.svg');
}
#admin-icon:hover {
    content: url('../../../public/sidebar_icons/adminW.svg');
}

/* Styling for the logout icon */
.logout-icon {
    position: absolute;
    bottom: 25px;
    left: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #9197B3;
}

.logout-icon:hover h3,
.logout-icon:active h3 {
    color: #d2d4db;
}

.logout-icon:hover img,
.logout-icon:active img {
    filter: brightness(1.4);
}
