
/* Popup for complaints form */
.complaints-popup {
  width: 100%;
  max-width: 1200px;
  background-color: #1A1D22;
  color: #B8BABF;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

/* Section within the form */
.form-section-wrapper {
  margin-bottom: 15px;
}

/* Row within the form */
.form-row-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

/* Group within the form */
.form-group-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Label within the form group */
.form-group-wrapper label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.85rem;
}

/* Input field styles */
.input-field-custom, .custom-select-custom {
  background-color: #24282F;
  border: 1px solid #77797d !important;
  padding: 8px;
  font-size: 0.85rem;
  border-radius: 5px;
  color: #B8BABF;
}

/* Specific styles for input fields */
.input-field-custom {
  height: 35px;
}

/* Specific styles for custom selects */
.custom-select-custom {
  height: 35px;
}

/* Button styles for the complaints form */
.complaints-submit-button {
  background-color: #5D69F3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
  width: 100%;
}

textarea.input-field-custom {
  height: 200px; /* Adjust as needed */
}