.addEmpl{
    background-color: #C5EBDC !important;
    color: #fff;
    border: none;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  
}

.custom-button {
    background-color:#067E83 ;
    color: #fff;
    border: none;
    padding: 7px 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
  }
  
  .custom-button:hover {
    background-color: #b8d8d9;
  }