.bluea{
    color: #0071FF;
}

.teal{
    color: #04D5C7;
}

.lilas{
    color:#9385F7;
}

.orange{
    color: #FE996C;
}

.grey{
    color: #B8BABF;
}

.bg-content{
    background-color: #F9F9F9;
}



