.nunito{
    font-family:"Nunito Sans", sans-serif;
}


.f9{
    font-size: 9px;
}

.f12{
    font-size: 12px;
}

.f14{
    font-size: 14px;
}

.f30{
    font-size: 30px;
}

.fw200 {
    font-weight:200;
}

.fw500 {
    font-weight: 500;
}

