@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "flag-icons/css/flag-icons.min.css";

@import url('../app/css/colors.css');
@import url('../app/css/fonts.css');
@import url('../app/css/paddings.css');

@import url('../app/css/Sidebar/sidebar.css');
@import url('../app/css/Navbar/navbar.css');

@import url('../app/css/login/login.css');
@import url('../app/css/login/verificationEmail.css');

@import url('../app/css/Table/header.css');
@import url('../app/css/Table/tab.css');
@import url('../app/css/Table/TabBody.css');
@import url('../app/css/Table/customCheckBox.css');

@import url('../app/css/Content/pagination.css');
@import url('../app/css/Content/date-filter.css');
@import url('../app/css/Content/filter.css');
@import url('../app/css/Content/add-button.css');
@import url('../app/css/Content/delete-button.css');
@import url('../app/css/Content/search.css');
@import url('../app/css/Content/search.css');
@import url('../app/css/Content/popup.css');
@import url('../app/css/Content/alerts.css');





.sidebar {
    width: 15%; 
    align-items: center;
    height: 100vh;
    
}

.navbar {
    width: 85%; 
    height: 5%; 

  }
  



.mt10{
    margin-top: 100px;
}
.bg{
    background-color:aqua !important;
}
.center{
    text-align: center !important;
}




  