.amazon{
    color: #407056;
}
.bg-content{
    background-color: #F9FBFF;
}
.links{
    color:#9197B3;
  
}
.tab_grey{
    color: #B5B7C0;
}
.grey{
    color: #7E7E7E;
}
.statcolor{
    color: #ACACAC;
}
.yellowgreen{
    color: #A4D860;
}
.green{
    color: #adde8a;
}
.blue{
    color: #0067AD;
}
.bg{
    background-color: #407056;
}
.teal{
    color: #067E83;
}

.black{
    color: #7e8082;
}

.bg-t{
    background-color: red;
}

.blackb{
    color: rgb(51, 51, 51);
}
.blackb{
    color: rgb(29, 29, 29);
}
.verdo{
    color: #b8d8d9;
}
.blueclair{
    color:#56c1c8 ;
    
}

.pagi{
    color: #404B52;
}
.red {
    color: #E02424;
}

.grey2{
    color: #6B7280;
}

.email{
    color: #636b79;
}