.f26{
    font-size: 26px;
}
.f14{
    font-size: 14px;
}
.f10{
    font-size: 10px;
}
.f24{
    font-size: 24px;
}

.f32{
    font-size: 32px;
}
.fw600{
    font-weight: 600;
}
.fw500{
    font-weight: 500;
}
.fw400{
    font-weight:400;
}
.fw200{
    font-weight: 200;
}
.fw100{
    font-weight: 100;
}
.f22{
    font-size: 22px;
}

.f12{
    font-size: 12px;
}

.h37{
    height: 37px;
}
.w37{
    width: 37px ;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}
.open-sans{
    font-family: 'Open+Sans', sans-serif;
}
.rajdhani{
    font-family: 'Rajdhani', sans-serif;

}