/* CSS for TableBody.js */
.table-row-box td {
  padding: 10px;
  padding-top: 5px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
}

.table-row-box td:first-child {
  padding-left: 20px;
}

.table-row-box:first-child td {
  border-top: none;
}

.table-row-box td:last-child {
  padding-right: 20px;
}

.table-row-box td button {
  margin-right: 10px;
}

.box-cell {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(0, 113, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  font-weight: 600 ;
  font-family:"Nunito Sans", sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

td.centered-cell {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.table-row-box {
  transition: background-color 0.3s, transform 0.3s;
}

.table-row-box:hover {
  background-color: #f0f8ff; 
  transform: scale(1.02);   
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}