body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.left-panel {
  background: url('/assets/loginBg/bg.svg') no-repeat center center;
  background-size: cover;
  flex: 1;
  display: flex;
  color: white;
  position: relative;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 130px;
}

.left-content h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.left-content p {
  font-size: 1.2rem;
  text-align: center;
}

.right-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  background-color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle-icon {
  position: absolute;
  top: 30px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
}

.form-container {
  width: 70%;
}

form {
  width: 100%;
}

form h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 2rem;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-with-icon {
  position: relative;
}

.input-with-icon .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input-with-icon .visibility-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none; /* Start with both hidden */
}

.input-with-icon .visibility-icon.visible {
  display: block; /* Show the active icon */
}

.input-with-icon input {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
}

.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="text"] {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.input-group input:focus {
  outline: none;
  border-color: #17b2a8;
  box-shadow: 0 0 0 1px rgba(23, 178, 168, 0.3);
}

.input-group input:focus::placeholder {
  color: #999;
}

.submit-button {
  width: 100%;
  padding: 0.7rem;
  background-color: #04D5C7;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1DE1D4;
}

.checkbox-container {
  margin-bottom: 1rem;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #333;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 0.5rem;
}

.checkbox-container a {
  color: #17b2a8;
  text-decoration: none;
  transition: color 0.3s ease;
}

.checkbox-container a:hover {
  color: #1DE1D4;
}

.checkbox-container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  border: 1px solid #17b2a8;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #17b2a8;
}

.checkbox-container input[type="checkbox"]:checked::before {
  content: '\2713';
  font-size: 0.8rem;
  color: white;
  display: block;
  text-align: center;
  line-height: 1rem;
}

.forgot-password {
  text-align: right;
  margin-top: 1rem;
  font-size: 13px;
}

.forgot-password a {
  color: grey;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password a:hover {
  color: #1DE1D4;
}
